.game{
    width: 50svw;
    height: 280px;
    border-bottom: 1px solid #000;
    margin: auto;
    
}

#travis{
    width: 70px;
    height: 70px;
    background-image: url(images/Travis.png);
    background-size: auto 70px;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 200px;
}

#cactus{
    width: 20px;
    height: 60px;
    background-image: url(images/cactus.png);
    background-size: auto 50px;
    background-repeat: no-repeat;
    position: relative;
    top: 160px;
    left: 500px;
    animation: cactusMuv 2s infinite linear;
}

@keyframes cactusMuv {
    0%{
        left:500px;
    }

    100%{
        left: -20px;
    }
}

.jump{
    animation: jump 1s linear;
}

@keyframes jump{
    0%{
        top: 200px;
    }

    30%{
        top: 120px;
    }

    50%{
        top: 100px;
    }

    70%{
        top: 120px;
    }

    90%{
        top: 190px;
    }

    100%{
        top:200px;
    }
}